@import url("https://fonts.googleapis.com/css2?family=PT Serif:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source Serif 4:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjord One:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-primary: #6c9bcf;
  --color-danger: #ff0060;
  --color-success: #1b9c85;
  --color-warning: #f7d060;
  --color-white: #fff;
  --color-whites: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: black;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --color-green: #98ff21;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 0.5rem 0.8rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Fjord One", sans-serif;
  font-size: 0.88rem;
  user-select: none;
  color: var(--color-white);
  background-color: var(--color-dark);
}

a {
  color: var(--color-dark);
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 2.2rem;
}

h2 {
  font-weight: 800;
  font-size: 1.5rem;
  font-family: "PT Serif", sans-serif;
}

.spanhigh {
  font-size: 1.5rem;
}

h3 {
  font-weight: 500;
  font-size: 0.97rem;
}

small {
  font-size: 0.76rem;
}

p {
  color: var(--color-white);
  font-size: 1rem;
}

b {
  color: var(--color-dark);
}

.text-muted {
  color: var(--color-info-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

.username {
  color: var(--color-dark);
  font-weight: 900;
}

::-webkit-scrollbar {
  width: 0px;
}

.lightmode {
  --color-dark: #f6f6f9;
  --color-white: #363949;
}

.navbar {
  background-color: var(--color-dark) !important;
  font-family: "Fjord One", sans-serif;
  box-shadow: var(--box-shadow);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar .dropdown-menu {
  background-color: var(--color-dark) !important;
}

.navbar .dropdown-menu li a {
  color: var(--color-white) !important;
}

.navbar .dropdown-menu li a:hover {
  background-color: var(--color-dark-variant);
  color: var(--color-dark) !important;
}

.navbar h2,
a {
  color: var(--color-white) !important;
}

.navbar ul li a {
  color: var(--color-dark) !important;
}

.navbar .btn-login {
  width: 5rem;
  border-radius: var(--border-radius-1);
  background-color: var(--color-primary);
  color: #fff;
}

.row {
  background-color: var(--color-dark);
}

.row .col-company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  margin-top: 4rem;
}

.row .col-company-logo h2 {
  width: 40rem;
  color: var(--color-white);
}

.row .col-company-logo img {
  height: 6.8rem;
  width: 6.8rem;
}

.row .col-company-quotes .quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Fjord One", sans-serif;
  background-color: black;
  padding: 2rem;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.row .col-company-quotes .quotes a {
  max-width: 30rem;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-whites) !important;
}

.row .col-company-quotes .quotes a:hover {
  text-decoration: underline;
  color: var(--color-whites);
}

.row .col-company-quotes .quotes img {
  max-height: 3rem;
  max-width: 20rem;
}

.row .col-masters-act {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.row .col-masters-act h2 {
  font-family: "PT Serif", sans-serif;
  text-align: center;
}

.row .col-masters-act .acts {
  display: flex;
  justify-content: center;
}

.row .col-masters-act .act {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 40%;
  gap: 1rem;
}

.row .col-masters-act .act img {
  height: 30rem;
  width: 100%;
}

.row .col-masters-act .act a {
  color: var(--color-primary) !important;
}

.row .col-masters-act .act a:hover {
  text-decoration: underline;
}

.row .col-masters-act .act p {
  color: var(--color-white);
  font-size: 0.9rem;
}

.row .col-masters-act .other-acts {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.row .col-masters-act .other-acts a {
  color: var(--color-primary) !important;
}

.row .col-masters-act .other-acts a:hover {
  text-decoration: underline;
}

.row .col-officer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.row .col-officer h2 {
  text-align: center;
}

.row .col-officer .swiper {
  max-width: 100%;
  max-height: 100%;
  padding: 2rem;
  padding-bottom: 3rem;
}

.row .col-officer .swiper-wrapper {
  display: flex;
}

.row .col-officer .swiper-slide {
  display: flex;
  justify-content: center;
}

.row .col-officer .card-officers {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fjord One", sans-serif;
  text-align: center;
  border-radius: 10px;
  gap: 1rem;
}

.row .col-officer .card-officers img {
  border-radius: 10px;
  height: 20rem;
}

.row .col-allied-org {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  font-family: "Fjord One" sans-serif;
}

.row .col-allied-org h2 {
  text-align: center;
}

.row .col-allied-org .swiper {
  max-width: 100%;
  max-height: 100%;
  padding: 2rem;
  padding-bottom: 3rem;
}

.row .col-allied-org .swiper-wrapper {
  display: flex;
}

.row .col-allied-org .swiper-slide {
  display: flex;
  justify-content: center;
}

.row .col-allied-org .card-allied {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.row .col-allied-org .card-allied img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.row .col-allied-org .card-allied a:hover {
  text-decoration: underline;
}

.btn-arrow {
  color: var(--color-white) !important;
}

.row .col-grand {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  background-color: var(--color-light);
  margin-top: 1rem;
}

.row .col-grand .grandimg {
  width: 15rem;
  height: 20rem;
}

.row .col-grand .grandlogo {
  width: 15rem;
  height: 15rem;
}

.row .col-grand .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.row .col-grand .info a {
  font-size: 1rem;
}

.row .col-grand .info a:hover {
  text-decoration: underline;
}

.row .col-footer {
  padding: 2rem;
}

.row .col-footer .footer-cards {
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

.row .col-footer .footer-cards .cards {
  height: 20rem;
  width: 20rem;
  max-height: 20rem;
  max-width: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fjord One", sans-serif;
  text-align: center;
  gap: 1rem;
}

.row .col-footer .footer-cards .cards hr {
  padding: 0;
  margin: 0;
  margin-top: -10px;
  width: 100%;
}

.row .col-footer .footer-cards .cards a:hover {
  text-decoration: underline;
}

.row .col-footer .copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5rem;
}

.row .col-footer .copyright small:first-child {
  margin-bottom: 1rem;
}

.row .col-footer .copyright small:nth-child(2) {
  font-weight: 900;
}

.switchmode {
  background-color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 1rem;
  padding: 1rem;
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
}

.switchmode:hover {
  background-color: var(--color-dark-variant);
}

.switchmode span:last-child {
  display: none;
}

.lightmode .switchmode span:first-child {
  display: none;
}

.lightmode .switchmode span:last-child {
  display: flex;
}

.login {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
  backdrop-filter: blur(20px); /* Apply blur effect */
  height: 100%;
  width: 100%;
}

.actives {
  display: flex;
}

.login .container {
  background-color: none !important;
  box-shadow: var(--box-shadow);
}

.login .container .rowlogin {
  background-color: var(--color-dark);
  padding: 2rem;
  border-radius: var(--border-radius-2);
  max-height: 40rem;
  overflow: auto;
}

.login .container .rowlogin .container-logo-name {
  padding: 1rem;
  max-height: 50rem;
}

.login .container .rowlogin .container-logo-name .logo {
  background-color: var(--color-dark);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.login .container .rowlogin .container-logo-name .logo img {
  max-width: 20rem;
  max-height: 20rem;
}

.login .container .rowlogin .container-logo-name .logo .name {
  text-align: center;
  padding: 3;
}

.login .container .rowlogin .col-signin-signup {
  padding: 1rem;
  max-height: 50rem;
  position: relative;
}

.login .container .rowlogin .col-signin-signup .signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.login .container .rowlogin .col-signin-signup .signin span {
  margin-bottom: 1rem;
}

.login .container .rowlogin .col-signin-signup .signin form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.login .container .rowlogin .col-signin-signup .signin input {
  box-shadow: var(--box-shadow);
}

.btn-outline-secondary {
  background-color: var(--color-primary);
  color: var(--color-whites);
}

.signin-btn {
  min-width: 50%;
  max-width: 50%;
  height: 2rem;
  border-radius: var(--border-radius-1);
  background-color: var(--color-primary);
  color: var(--color-whites);
  margin-bottom: 1rem;
}

.to-signup {
  color: var(--color-primary);
  text-decoration: underline;
}

.arrowback {
  position: fixed;
  left: 0;
  top: 0;
  cursor: pointer;
}

<<<<<<< HEAD
.arrowback span {
  font-size: 2.5rem;
}

=======
>>>>>>> dc126cc1015aed93d974631a7de1c6d8c319b9e4
.login .container .rowlogin .col-signin-signup .signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.login .container .rowlogin .col-signin-signup .signup span {
  margin-bottom: 1rem;
}

.login .container .rowlogin .col-signin-signup .signup form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.login .container .rowlogin .col-signin-signup .signup input {
  box-shadow: var(--box-shadow);
}

.signup {
  transform: translateX(650px);
  transition: transform 0.6s ease;
  transition-delay: 0s;
  position: absolute;
  width: 100%;
}
.signup.active {
  transform: translateX(0px);
  transition-delay: 0.3s;
}

.signin {
  transform: translateX(0px);
  transition: transform 0.6s ease;
  transition-delay: 0.3s;
  position: absolute;
  width: 100%;
}
.signin.active {
  transform: translateX(650px);
  transition-delay: 0s;
}

@media screen and (max-width: 768px) {
  .row .col-masters-act .acts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row .col-masters-act .act {
    width: 100%;
  }
  .row .col-grand {
    display: flex;
    flex-direction: column;
  }
  .row .col-footer .footer-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .row .col-company-logo h2 {
    font-size: 1.2rem;
  }

  .row .col-company-quotes .quotes a {
    font-size: 1rem;
  }

  .row .col-masters-act h2 {
    font-size: 1.2rem;
  }

  .row .col-officer h2 {
    font-size: 1.2rem;
  }

  .row .col-allied-org h2 {
    font-size: 1.2rem;
  }

  .row .col-grand {
    display: flex;
    flex-direction: column;
  }
  .row .col-footer .copyright {
    padding: 2rem;
  }
}
<<<<<<< HEAD
=======

>>>>>>> dc126cc1015aed93d974631a7de1c6d8c319b9e4
